body {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
  font-weight:300; 
  font-stretch:normal;
  font-size: 0.8em;
}

[viz-sparkline] {
  height: 100px;
  border: 1px solid rgba(0,0,0,0.05);
  background-color: white;
  svg {
  .line {
    stroke-width: 1px;
    fill: none;
    stroke: grey;
  }
  .point {}
  }
}

#viz-config {
  ul {
    list-style : none;
    padding: 0;
    input {
      width: 3em;
      text-align: right;
    } 
  }
}
